form{
    border-radius: 10px;
}

.heading{
    padding: 20px;
    border-radius: 10px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: space-between;
}