.card {
  max-width: 100vw;
  max-height: 100vh;
  border: none;
  border-radius: 10px;
  /* background-color: #fbfbfb; */
}

.card-body {
  display: flex;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  width: 25%;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 37%;
  margin-top: 10%;
  box-shadow: 0 8px 12px rgba(63, 81, 181, 0.40);
}

h2 {
  color: #3f51b5;
  font-weight: 600;
}

.btn-primary {
  background-color: #3f51b5;
  border: none;
  /* padding: 10px; */
  font-weight: 500;
  display: flex;
  margin-left: 68%;
}

.btn-primary:hover {
  background-color: #303f9f;
}

.form-control:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 0 0.2rem rgba(63, 81, 181, 0.25);
}

a {
  color: #3f51b5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.invalid-feedback {
  display: block;
}
