/* Card container styling */
.register-card {
  width: 400px;
  /* margin: 20px auto; center horizontally with margin */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* soft shadow */
  border-radius: 8px;
  background-color: white; /* light background */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-card h2{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* soft shadow */
  background-color: white; /* light background */
  padding:10px;
  color: green;
  font-size: 30px;

}

/* Form layout styling */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between form fields */
}

/* Make form fields full width */
mat-form-field {
  width: 100%;
}

/* Style the button */
button[type="submit"] {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

/* :host {
  display: flex;
  height: 100vh;                       
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin: 40px;
  background: url('https://images.unsplash.com/photo-1701281941392-fd6c2d8d652b?q=80&w=1096&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') 
              no-repeat center center / cover;

} */

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  /* background: url('https://images.unsplash.com/photo-1557800636-894a64c1696f') no-repeat center center / cover; */
  /* background-attachment: fixed;  */
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Nice deep shadow */
  margin: 40px;
}

