/* .main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    max-width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.45);

}
.main-container{
    display: flex;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    max-width: 50%;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}

.button{
    display: flex;
    justify-content: right;
}