<h2>User List</h2>

<div class="controls">
  <input type="text" [(ngModel)]="searchText" placeholder="Search by name/email..." />
  <button (click)="search()">Search</button>
  <button routerLink="/add-user">Add User</button>
</div>

<table>
  <thead>
    <tr>
      <th>UserId</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Room Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr 
      *ngFor="let user of users">
      <td>{{ user.id}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.roomId }}</td>
      <td>
        <button class="edit-btn" (click)="editUser(user)">✏️</button>
        <button class="delete-btn" (click)="deleteUser(user.id)">🗑️</button>
      </td>
    </tr>
  </tbody>
</table>
